body {
    background-color: #4f4f4f;
}
/*vertical slide*/

/*navbar*/
.navigate:hover {
    border-bottom: 1px solid rgba(1, 1, 1, 0.1) !important;
    transition-delay: 1s;
}

.site-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: transform 0.25s;
    background: #222;
}

.site-nav.is-hidden {
    transform: translateY(-100%);
}
.site-nav.is-visible {
    transform: translateY(0);
}

.site-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #222;
}

.site-nav  ul > li > a {
    display: block;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
}

.site-nav  ul > li > a:hover,
.site-nav  ul > li > a:focus {
    background: #666;
}

/*image decoration*/
.profile-image {
    box-shadow: 12px 12px rgba(2, 2, 2, 0.8) ;
}

/*text*/

