{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="full-page">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-8 mt-lg-5 mb-2 pt-5 d-flex">
            <div class="col-sm-6">
                <div class="mt-3">
                    <h2>Hi there!</h2>
                    <h1 class="display-3">I'm Ann</h1>
                    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</h3>
                    <div class="d-flex">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-facebook">
                                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-linkedin">
                                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-github">
                                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                 <div class="col-sm-12 float-center">
                     <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner profile-image rounded">
                            <div class="carousel-item active">
                                <div class="ratio ratio-4x3">
                                    <img class='rounded' src='{% static 'media/photo.jpg' %}' alt="photo">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="ratio ratio-4x3">
                                    <img class='rounded' src='{% static 'media/1.jpeg' %}' alt="photo">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="ratio ratio-4x3">
                                    <img class='rounded' src='{% static 'media/5.jpeg' %}' alt="photo">
                                </div>
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                     </div>
                 </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container" style="background: #222;">
    <div class="mt-4 row row-cols-sm-5 g-3 justify-content-center">
        <h4 class="display-4" style="color: #d6d8e2" >Portfolio</h4>
    </div>
    <div class="mt-4 row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
    {% for project in projects_start %}
        <div class="card m-2" style="width: 18rem; background-color: #d6d8e2;">
            {% if project.url %}
                <a href="{{ project.url }}">
                    <div class="ratio ratio-4x3">
                        <img src="{{ project.image.url }}" class="img-fluid mb-2">
                    </div>
                </a>
            {% else %}
                <div class="ratio ratio-4x3">
                    <img src="{{ project.image.url }}" class="img-fluid mb-2">
                </div>
            {% endif %}
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
        </div>
    {% endfor %}
    </div>
    <div id="collapseExample" class="mt-4 row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center collapse">
    {% for project in another_projects %}
        <div class="card m-2" style="width: 18rem; background-color: #d6d8e2;">
            {% if project.url %}
                <a href="{{ project.url }}">
                    <div class="ratio ratio-4x3">
                        <img src="{{ project.image.url }}" class="img-fluid mb-2">
                    </div>
                </a>
            {% else %}
                <div class="ratio ratio-4x3">
                    <img src="{{ project.image.url }}" class="img-fluid mb-2">
                </div>
            {% endif %}
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
        </div>
    {% endfor %}
    </div>
    <div class="row mt-4 mb-4 row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
         <button onclick="changeToggleButton()" id="opener" class="btn mb-4" style="background-color: #d6d8e2; border-radius: 50%; width: 50px; height: 50px; text-align: center; font-size: 32px;" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <h3 id="on">+</h3>
        </button>
    </div>
</div>
    <div class="container">
        <p>Lorem ipsum dolor sit amet. Et veritatis possimus qui expedita commodi hic corrupti consequatur et aspernatur dolorum in velit nemo est galisum consequuntur. Ut veritatis sequi sed quibusdam ipsum sit reiciendis tempora et quae omnis sit dolor aspernatur. </p>
        <p>Aut saepe voluptas ad ratione quis eos voluptatem ratione a nisi doloribus. Vel modi perferendis non enim magni ex beatae doloremque est tempore cupiditate quo dolores eveniet ut dolores dolorum est nihil aperiam. Cum accusamus omnis vel quas sunt et quod molestiae. Vel voluptas illo ut consectetur fugiat et sunt eius et vitae quia aut repellat ratione aut reprehenderit laborum. </p>
        <p>Cum reprehenderit velit est repellendus corrupti ut consequatur enim et doloribus nostrum quo commodi velit. Id tenetur quaerat ut officiis maiores qui repudiandae rerum hic voluptatibus provident eos distinctio nobis. Et saepe commodi ut voluptatum repellendus ad blanditiis quia. Aut officia soluta aut soluta voluptatibus sit sint tempore qui nulla perferendis et saepe suscipit aut omnis sint aut iste quae. </p>
        <p>Et ipsam quos et reprehenderit voluptatem aut natus ipsa aut molestiae perferendis est aliquid dicta sit obcaecati dignissimos! Ut placeat dolor ea sint omnis non incidunt illum At nisi quia qui labore totam et saepe quisquam! Sit laudantium autem aut enim delectus a perspiciatis amet sit consequuntur dicta quo dolore dolores. </p>
        <p>Sed corporis ullam et dolor soluta ut deleniti tempore aut voluptates similique sed ipsum recusandae ut blanditiis galisum eum omnis voluptas! Eos quae laudantium ad accusamus enim et deserunt possimus aut iste saepe. Sed dolor quia et atque quod quo inventore culpa sed quis dolores quo alias similique et distinctio odio. Aut reiciendis molestiae ea rerum adipisci ut odit voluptas in iure totam est quia fugit rem incidunt temporibus est sapiente omnis! </p>
        <p>Lorem ipsum dolor sit amet. Et veritatis possimus qui expedita commodi hic corrupti consequatur et aspernatur dolorum in velit nemo est galisum consequuntur. Ut veritatis sequi sed quibusdam ipsum sit reiciendis tempora et quae omnis sit dolor aspernatur. </p>
        <p>Aut saepe voluptas ad ratione quis eos voluptatem ratione a nisi doloribus. Vel modi perferendis non enim magni ex beatae doloremque est tempore cupiditate quo dolores eveniet ut dolores dolorum est nihil aperiam. Cum accusamus omnis vel quas sunt et quod molestiae. Vel voluptas illo ut consectetur fugiat et sunt eius et vitae quia aut repellat ratione aut reprehenderit laborum. </p>
        <p>Cum reprehenderit velit est repellendus corrupti ut consequatur enim et doloribus nostrum quo commodi velit. Id tenetur quaerat ut officiis maiores qui repudiandae rerum hic voluptatibus provident eos distinctio nobis. Et saepe commodi ut voluptatum repellendus ad blanditiis quia. Aut officia soluta aut soluta voluptatibus sit sint tempore qui nulla perferendis et saepe suscipit aut omnis sint aut iste quae. </p>
        <p>Et ipsam quos et reprehenderit voluptatem aut natus ipsa aut molestiae perferendis est aliquid dicta sit obcaecati dignissimos! Ut placeat dolor ea sint omnis non incidunt illum At nisi quia qui labore totam et saepe quisquam! Sit laudantium autem aut enim delectus a perspiciatis amet sit consequuntur dicta quo dolore dolores. </p>

    </div>
</div>

{% endblock %}